#college_lists {
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    width: 100%;

    .heading {
      margin-bottom: 24px;
    }

    .table-wrapper {
      overflow-x: auto;
    }
    table {
      width: 100%;
      border: 1px solid var(--color-gray);
      border-collapse: collapse;
      border-bottom: none;
      margin-bottom: 32px;
      text-align: center;
      tr {
        border: 1px solid var(--color-gray);

        th,
        td {
          border-right: 1px solid var(--color-gray);
          padding: 5px;
          text-align: center;

          &.eiin,
          &.min-gpa {
            display: none;
          }
          @media (min-width: 640px) {
            &.eiin,
            &.min-gpa {
              display: inline-block;
            }
          }
        }

        td.active {
          color: var(--color-skyblue-light);
        }

        th.serial-no-col {
          width: 150px;
        }
      }
    }
  }
}
