:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #58585a;
  --color-gray-light: #9b9b9b5b;
  --color-gray-light-2: #9b9b9b2a;
  --color-skyblue: #0088ff;
  --color-skyblue-hover: #0278df;
  --color-skyblue-light: #25aae1;
  --color-skyblue-light-hover: #188ec0;
}
