@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;500;700;900&display=swap");
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #58585a;
  --color-gray-light: #9b9b9b5b;
  --color-gray-light-2: #9b9b9b2a;
  --color-skyblue: #0088ff;
  --color-skyblue-hover: #0278df;
  --color-skyblue-light: #25aae1;
  --color-skyblue-light-hover: #188ec0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Alexandria", sans-serif;
}

input {
  outline: none;
  border: none;
}
input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-sm {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 24px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .heading {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .heading {
    font-size: 28px;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--color-skyblue-light);
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  transition: 0.2s;
  outline: none;
  border: none;
}
@media (min-width: 1024px) {
  .btn {
    font-size: 16px;
  }
}
.btn:hover {
  background: var(--color-skyblue-light-hover);
}

.toggler-wrapper {
  display: flex;
  justify-content: center;
}
.toggler-wrapper .form-toggler {
  color: var(--color-skyblue-light);
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .toggler-wrapper .form-toggler {
    font-size: 16px;
  }
}
.toggler-wrapper .form-toggler:hover {
  color: var(--color-skyblue-light-hover);
}

#search_area {
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  #search_area {
    padding: 100px 0;
  }
}
#search_area .inner {
  width: 100%;
  padding: 0;
}
@media (min-width: 768px) {
  #search_area .inner {
    padding: 0 16px;
  }
}
#search_area form {
  display: none;
}
#search_area form .form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  #search_area form .form-body {
    margin-bottom: 120px;
  }
}
#search_area form .form-body input {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid var(--color-gray-light);
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  color: var(--color-black);
}
@media (min-width: 1024px) {
  #search_area form .form-body input {
    font-size: 18px;
  }
}
#search_area form .form-body button {
  margin-top: 30px;
}
#search_area form .form-body .checkbox-wrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 24px;
}
#search_area form .form-body .checkbox-wrapper .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-direction: row;
  flex-wrap: wrap;
}
#search_area form .form-body .checkbox-wrapper .row b {
  width: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  #search_area form .form-body .checkbox-wrapper .row {
    flex-direction: row;
  }
  #search_area form .form-body .checkbox-wrapper .row b {
    width: 30%;
    text-align: left;
  }
}
#search_area form .form-body .checkbox-wrapper .row label {
  display: inline-flex;
  gap: 4px;
  font-size: 14px;
  cursor: pointer;
  width: 29%;
}
@media (min-width: 768px) {
  #search_area form .form-body .checkbox-wrapper .row label {
    width: 20%;
  }
}
#search_area form .form-body .checkbox-wrapper .row label input {
  width: unset;
}
#search_area #find_college_einn.show {
  display: block;
}
#search_area #find_college_course.show {
  display: block;
}

#single_college_details {
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  #single_college_details {
    padding: 16px;
  }
}
#single_college_details .heading {
  background-color: var(--color-white);
  border-radius: 6px 6px 0 0;
  padding: 12px 0;
}
#single_college_details .inner {
  padding: 6px 6px 32px 6px;
  border-radius: 8px;
  background-color: #e7e7e8;
  width: 100%;
}
#single_college_details .inner .details-wrapper {
  padding: 16px;
}
#single_college_details .inner .details-wrapper .table-wrapper {
  overflow-x: auto;
}
@media (min-width: 1024px) {
  #single_college_details .inner .details-wrapper {
    padding: 16px;
  }
}
@media (min-width: 1280px) {
  #single_college_details .inner .details-wrapper {
    padding: 32px;
  }
}
#single_college_details .inner .details-wrapper .top {
  margin-bottom: 24px;
  padding: 0;
}
@media (min-width: 768px) {
  #single_college_details .inner .details-wrapper .top {
    padding: 0 48px;
  }
}
#single_college_details .inner .details-wrapper .top .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  flex-direction: column;
}
@media (min-width: 576px) {
  #single_college_details .inner .details-wrapper .top .row {
    flex-direction: row;
    margin-bottom: 8px;
  }
}
#single_college_details .inner .details-wrapper .top .row .col {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
#single_college_details .inner .details-wrapper .top .row .col > span {
  width: 100px;
  padding-left: 5px;
}
@media (min-width: 576px) {
  #single_college_details .inner .details-wrapper .top .row .col {
    justify-content: space-between;
    margin-bottom: 0;
    width: 45%;
  }
}
#single_college_details .inner .details-wrapper .top .row .col b {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
#single_college_details .inner .details-wrapper table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  border-bottom: none;
  margin-bottom: 32px;
}
#single_college_details .inner .details-wrapper table tr {
  border: 1px solid black;
}
#single_college_details .inner .details-wrapper table tr td,
#single_college_details .inner .details-wrapper table tr th {
  border-right: 1px solid black;
  padding: 5px;
}

#college_lists {
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#college_lists .inner {
  width: 100%;
}
#college_lists .inner .heading {
  margin-bottom: 24px;
}
#college_lists .inner .table-wrapper {
  overflow-x: auto;
}
#college_lists .inner table {
  width: 100%;
  border: 1px solid var(--color-gray);
  border-collapse: collapse;
  border-bottom: none;
  margin-bottom: 32px;
  text-align: center;
}
#college_lists .inner table tr {
  border: 1px solid var(--color-gray);
}
#college_lists .inner table tr th,
#college_lists .inner table tr td {
  border-right: 1px solid var(--color-gray);
  padding: 5px;
  text-align: center;
}
#college_lists .inner table tr th.eiin, #college_lists .inner table tr th.min-gpa,
#college_lists .inner table tr td.eiin,
#college_lists .inner table tr td.min-gpa {
  display: none;
}
@media (min-width: 640px) {
  #college_lists .inner table tr th.eiin, #college_lists .inner table tr th.min-gpa,
#college_lists .inner table tr td.eiin,
#college_lists .inner table tr td.min-gpa {
    display: inline-block;
  }
}
#college_lists .inner table tr td.active {
  color: var(--color-skyblue-light);
}
#college_lists .inner table tr th.serial-no-col {
  width: 150px;
}

.hide {
  display: none !important;
}/*# sourceMappingURL=style.css.map */